In [184]:
!pip install pyspark py4j

Requirement already satisfied: pyspark in /usr/local/lib/python3.10/dist-packages (3.5.3)
Requirement already satisfied: py4j in /usr/local/lib/python3.10/dist-packages (0.10.9.7)

In [185]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import col,expr,stack,substring
spark=SparkSession.builder.getOrCreate()

In [186]:
df=spark.read.csv(path='/content/temperature.csv',header=True,inferSchema=True,sep=",")
df.printSchema()

root
 |-- ObjectId: integer (nullable = true)
 |-- Country: string (nullable = true)
 |-- ISO2: string (nullable = true)
 |-- ISO3: string (nullable = true)
 |-- F1961: double (nullable = true)
 |-- F1962: double (nullable = true)
 |-- F1963: double (nullable = true)
 |-- F1964: double (nullable = true)
 |-- F1965: double (nullable = true)
 |-- F1966: double (nullable = true)
 |-- F1967: double (nullable = true)
 |-- F1968: double (nullable = true)
 |-- F1969: double (nullable = true)
 |-- F1970: double (nullable = true)
 |-- F1971: double (nullable = true)
 |-- F1972: double (nullable = true)
 |-- F1973: double (nullable = true)
 |-- F1974: double (nullable = true)
 |-- F1975: double (nullable = true)
 |-- F1976: double (nullable = true)
 |-- F1977: double (nullable = true)
 |-- F1978: double (nullable = true)
 |-- F1979: double (nullable = true)
 |-- F1980: double (nullable = true)
 |-- F1981: double (nullable = true)
 |-- F1982: double (nullable = true)
 |-- F1983: double (nullable = true)
 |-- F1984: double (nullable = true)
 |-- F1985: double (nullable = true)
 |-- F1986: double (nullable = true)
 |-- F1987: double (nullable = true)
 |-- F1988: double (nullable = true)
 |-- F1989: double (nullable = true)
 |-- F1990: double (nullable = true)
 |-- F1991: double (nullable = true)
 |-- F1992: double (nullable = true)
 |-- F1993: double (nullable = true)
 |-- F1994: double (nullable = true)
 |-- F1995: double (nullable = true)
 |-- F1996: double (nullable = true)
 |-- F1997: double (nullable = true)
 |-- F1998: double (nullable = true)
 |-- F1999: double (nullable = true)
 |-- F2000: double (nullable = true)
 |-- F2001: double (nullable = true)
 |-- F2002: double (nullable = true)
 |-- F2003: double (nullable = true)
 |-- F2004: double (nullable = true)
 |-- F2005: double (nullable = true)
 |-- F2006: double (nullable = true)
 |-- F2007: double (nullable = true)
 |-- F2008: double (nullable = true)
 |-- F2009: double (nullable = true)
 |-- F2010: double (nullable = true)
 |-- F2011: double (nullable = true)
 |-- F2012: double (nullable = true)
 |-- F2013: double (nullable = true)
 |-- F2014: double (nullable = true)
 |-- F2015: double (nullable = true)
 |-- F2016: double (nullable = true)
 |-- F2017: double (nullable = true)
 |-- F2018: double (nullable = true)
 |-- F2019: double (nullable = true)
 |-- F2020: double (nullable = true)
 |-- F2021: double (nullable = true)
 |-- F2022: double (nullable = true)

In [187]:
df.show(n=5,truncate=False)

+--------+----------------------------+----+----+------+------+------+------+------+-----+------+------+------+------+------+------+------+------+------+------+------+------+-----+------+------+------+------+------+------+------+------+-----+------+-----+------+------+------+-----+------+------+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+
|ObjectId|Country                     |ISO2|ISO3|F1961 |F1962 |F1963 |F1964 |F1965 |F1966|F1967 |F1968 |F1969 |F1970 |F1971 |F1972 |F1973 |F1974 |F1975 |F1976 |F1977 |F1978 |F1979|F1980 |F1981 |F1982 |F1983 |F1984 |F1985 |F1986 |F1987 |F1988|F1989 |F1990|F1991 |F1992 |F1993 |F1994|F1995 |F1996 |F1997|F1998|F1999|F2000|F2001|F2002|F2003|F2004|F2005|F2006|F2007|F2008|F2009|F2010|F2011|F2012|F2013|F2014|F2015|F2016|F2017|F2018|F2019|F2020|F2021|F2022|
+--------+----------------------------+----+----+------+------+------+------+------+-----+------+------+------+------+------+------+------+------+------+------+------+------+-----+------+------+------+------+------+------+------+------+-----+------+-----+------+------+------+-----+------+------+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+
|1       |Afghanistan, Islamic Rep. of|AF  |AFG |-0.113|-0.164|0.847 |-0.764|-0.244|0.226|-0.371|-0.423|-0.539|0.813 |0.619 |-1.124|0.232 |-0.489|-0.445|-0.286|0.513 |0.129 |0.361|0.6   |0.483 |-0.346|0.164 |0.145 |0.283 |-0.141|0.391 |0.919|-0.205|0.73 |-0.168|-0.294|0.22  |0.43 |0.359 |-0.116|0.471|0.675|1.198|0.993|1.311|1.365|0.587|1.373|0.401|1.72 |0.675|0.704|0.895|1.613|1.397|0.223|1.281|0.456|1.093|1.555|1.54 |1.544|0.91 |0.498|1.327|2.012|
|2       |Albania                     |AL  |ALB |0.627 |0.326 |0.075 |-0.166|-0.388|0.559|-0.074|0.081 |-0.013|-0.106|-0.195|-0.069|-0.288|-0.139|-0.211|-0.683|0.545 |-0.814|0.203|-0.414|-0.351|0.173 |-0.128|-0.27 |-0.103|0.569 |-0.106|0.37 |-0.066|0.795|-0.269|0.106 |0.076 |1.33 |-0.172|-0.038|0.075|0.795|0.67 |1.065|1.532|0.492|0.97 |0.444|0.189|0.345|1.316|0.978|0.91 |1.191|1.055|1.487|1.333|1.198|1.569|1.464|1.121|2.028|1.675|1.498|1.536|1.518|
|3       |Algeria                     |DZ  |DZA |0.164 |0.114 |0.077 |0.25  |-0.1  |0.433|-0.026|-0.067|0.291 |0.116 |-0.385|-0.348|-0.015|-0.503|-0.539|-0.782|0.504 |0.012 |0.654|0.232 |0.215 |0.399 |0.56  |-0.004|0.508 |0.296 |0.975 |1.304|0.386 |1.266|0.031 |-0.312|0.552 |0.732|0.595 |0.846 |1.059|1.109|1.476|0.82 |1.856|1.258|1.585|0.988|1.264|1.395|1.22 |1.185|0.945|2.265|1.398|1.147|1.192|1.69 |1.121|1.757|1.512|1.21 |1.115|1.926|2.33 |1.688|
|4       |American Samoa              |AS  |ASM |0.079 |-0.042|0.169 |-0.14 |-0.562|0.181|-0.368|-0.187|0.132 |-0.047|-0.477|-0.067|0.33  |-0.308|-0.118|-0.177|0.156 |0.092 |0.341|0.35  |0.179 |0.28  |0.313 |0.277 |0.256 |0.394 |0.354 |0.509|0.143 |0.497|0.641 |0.344 |-0.069|0.189|0.755 |0.784 |NULL |NULL |0.242|0.626|0.904|1.152|0.716|0.191|0.801|0.403|1.032|0.67 |NULL |1.311|0.854|0.924|1.257|1.17 |1.009|1.539|1.435|1.189|1.539|1.43 |1.268|1.256|
|5       |Andorra, Principality of    |AD  |AND |0.736 |0.112 |-0.752|0.308 |-0.49 |0.415|0.637 |0.018 |-0.137|0.121 |-0.326|-0.499|0.025 |-0.371|0.246 |-0.045|-0.093|-0.163|0.058|-0.188|0.178 |1.044 |0.859 |-0.157|0.059 |0.387 |0.397 |0.883|1.162 |1.736|0.231 |0.386 |0.174 |1.508|1.279 |0.57  |1.788|1.018|1.055|1.05 |1.48 |0.835|1.949|0.936|0.851|1.485|1.024|0.946|1.413|0.471|1.677|1.265|0.831|1.946|1.69 |1.99 |1.925|1.919|1.964|2.562|1.533|3.243|
+--------+----------------------------+----+----+------+------+------+------+------+-----+------+------+------+------+------+------+------+------+------+------+------+------+-----+------+------+------+------+------+------+------+------+-----+------+-----+------+------+------+-----+------+------+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+-----+
only showing top 5 rows

In [188]:
df.count()

225

In [189]:
df.columns

['ObjectId',
 'Country',
 'ISO2',
 'ISO3',
 'F1961',
 'F1962',
 'F1963',
 'F1964',
 'F1965',
 'F1966',
 'F1967',
 'F1968',
 'F1969',
 'F1970',
 'F1971',
 'F1972',
 'F1973',
 'F1974',
 'F1975',
 'F1976',
 'F1977',
 'F1978',
 'F1979',
 'F1980',
 'F1981',
 'F1982',
 'F1983',
 'F1984',
 'F1985',
 'F1986',
 'F1987',
 'F1988',
 'F1989',
 'F1990',
 'F1991',
 'F1992',
 'F1993',
 'F1994',
 'F1995',
 'F1996',
 'F1997',
 'F1998',
 'F1999',
 'F2000',
 'F2001',
 'F2002',
 'F2003',
 'F2004',
 'F2005',
 'F2006',
 'F2007',
 'F2008',
 'F2009',
 'F2010',
 'F2011',
 'F2012',
 'F2013',
 'F2014',
 'F2015',
 'F2016',
 'F2017',
 'F2018',
 'F2019',
 'F2020',
 'F2021',
 'F2022']

In [190]:
','.join([ f" 'F{1961+i}' , F{1961+i} " for i in range(62)])

" 'F1961' , F1961 , 'F1962' , F1962 , 'F1963' , F1963 , 'F1964' , F1964 , 'F1965' , F1965 , 'F1966' , F1966 , 'F1967' , F1967 , 'F1968' , F1968 , 'F1969' , F1969 , 'F1970' , F1970 , 'F1971' , F1971 , 'F1972' , F1972 , 'F1973' , F1973 , 'F1974' , F1974 , 'F1975' , F1975 , 'F1976' , F1976 , 'F1977' , F1977 , 'F1978' , F1978 , 'F1979' , F1979 , 'F1980' , F1980 , 'F1981' , F1981 , 'F1982' , F1982 , 'F1983' , F1983 , 'F1984' , F1984 , 'F1985' , F1985 , 'F1986' , F1986 , 'F1987' , F1987 , 'F1988' , F1988 , 'F1989' , F1989 , 'F1990' , F1990 , 'F1991' , F1991 , 'F1992' , F1992 , 'F1993' , F1993 , 'F1994' , F1994 , 'F1995' , F1995 , 'F1996' , F1996 , 'F1997' , F1997 , 'F1998' , F1998 , 'F1999' , F1999 , 'F2000' , F2000 , 'F2001' , F2001 , 'F2002' , F2002 , 'F2003' , F2003 , 'F2004' , F2004 , 'F2005' , F2005 , 'F2006' , F2006 , 'F2007' , F2007 , 'F2008' , F2008 , 'F2009' , F2009 , 'F2010' , F2010 , 'F2011' , F2011 , 'F2012' , F2012 , 'F2013' , F2013 , 'F2014' , F2014 , 'F2015' , F2015 , 'F2016' , F2016 , 'F2017' , F2017 , 'F2018' , F2018 , 'F2019' , F2019 , 'F2020' , F2020 , 'F2021' , F2021 , 'F2022' , F2022 "

In [191]:
df_unpivot=df.selectExpr(
    'ObjectId','Country','ISO2','ISO3',
    'stack(62,' +
    ','.join([ f" 'F{1961+i}' , F{1961+i} " for i in range(62)])
    +') as (Year,Temperature)'
)
df_unpivot.show(truncate=False)

+--------+----------------------------+----+----+-----+-----------+
|ObjectId|Country                     |ISO2|ISO3|Year |Temperature|
+--------+----------------------------+----+----+-----+-----------+
|1       |Afghanistan, Islamic Rep. of|AF  |AFG |F1961|-0.113     |
|1       |Afghanistan, Islamic Rep. of|AF  |AFG |F1962|-0.164     |
|1       |Afghanistan, Islamic Rep. of|AF  |AFG |F1963|0.847      |
|1       |Afghanistan, Islamic Rep. of|AF  |AFG |F1964|-0.764     |
|1       |Afghanistan, Islamic Rep. of|AF  |AFG |F1965|-0.244     |
|1       |Afghanistan, Islamic Rep. of|AF  |AFG |F1966|0.226      |
|1       |Afghanistan, Islamic Rep. of|AF  |AFG |F1967|-0.371     |
|1       |Afghanistan, Islamic Rep. of|AF  |AFG |F1968|-0.423     |
|1       |Afghanistan, Islamic Rep. of|AF  |AFG |F1969|-0.539     |
|1       |Afghanistan, Islamic Rep. of|AF  |AFG |F1970|0.813      |
|1       |Afghanistan, Islamic Rep. of|AF  |AFG |F1971|0.619      |
|1       |Afghanistan, Islamic Rep. of|AF  |AFG |F1972|-1.124     |
|1       |Afghanistan, Islamic Rep. of|AF  |AFG |F1973|0.232      |
|1       |Afghanistan, Islamic Rep. of|AF  |AFG |F1974|-0.489     |
|1       |Afghanistan, Islamic Rep. of|AF  |AFG |F1975|-0.445     |
|1       |Afghanistan, Islamic Rep. of|AF  |AFG |F1976|-0.286     |
|1       |Afghanistan, Islamic Rep. of|AF  |AFG |F1977|0.513      |
|1       |Afghanistan, Islamic Rep. of|AF  |AFG |F1978|0.129      |
|1       |Afghanistan, Islamic Rep. of|AF  |AFG |F1979|0.361      |
|1       |Afghanistan, Islamic Rep. of|AF  |AFG |F1980|0.6        |
+--------+----------------------------+----+----+-----+-----------+
only showing top 20 rows

**Handle Data Types**

In [192]:
df_unpivot.dtypes

[('ObjectId', 'int'),
 ('Country', 'string'),
 ('ISO2', 'string'),
 ('ISO3', 'string'),
 ('Year', 'string'),
 ('Temperature', 'double')]

In [193]:
df_unpivot=df_unpivot.withColumn("Year",substring(col("Year"),2,4) ).withColumn( "Year",col("Year").cast("integer") )
df_unpivot.show()

+--------+--------------------+----+----+----+-----------+
|ObjectId|             Country|ISO2|ISO3|Year|Temperature|
+--------+--------------------+----+----+----+-----------+
|       1|Afghanistan, Isla...|  AF| AFG|1961|     -0.113|
|       1|Afghanistan, Isla...|  AF| AFG|1962|     -0.164|
|       1|Afghanistan, Isla...|  AF| AFG|1963|      0.847|
|       1|Afghanistan, Isla...|  AF| AFG|1964|     -0.764|
|       1|Afghanistan, Isla...|  AF| AFG|1965|     -0.244|
|       1|Afghanistan, Isla...|  AF| AFG|1966|      0.226|
|       1|Afghanistan, Isla...|  AF| AFG|1967|     -0.371|
|       1|Afghanistan, Isla...|  AF| AFG|1968|     -0.423|
|       1|Afghanistan, Isla...|  AF| AFG|1969|     -0.539|
|       1|Afghanistan, Isla...|  AF| AFG|1970|      0.813|
|       1|Afghanistan, Isla...|  AF| AFG|1971|      0.619|
|       1|Afghanistan, Isla...|  AF| AFG|1972|     -1.124|
|       1|Afghanistan, Isla...|  AF| AFG|1973|      0.232|
|       1|Afghanistan, Isla...|  AF| AFG|1974|     -0.489|
|       1|Afghanistan, Isla...|  AF| AFG|1975|     -0.445|
|       1|Afghanistan, Isla...|  AF| AFG|1976|     -0.286|
|       1|Afghanistan, Isla...|  AF| AFG|1977|      0.513|
|       1|Afghanistan, Isla...|  AF| AFG|1978|      0.129|
|       1|Afghanistan, Isla...|  AF| AFG|1979|      0.361|
|       1|Afghanistan, Isla...|  AF| AFG|1980|        0.6|
+--------+--------------------+----+----+----+-----------+
only showing top 20 rows

In [194]:
df_unpivot.dtypes

[('ObjectId', 'int'),
 ('Country', 'string'),
 ('ISO2', 'string'),
 ('ISO3', 'string'),
 ('Year', 'int'),
 ('Temperature', 'double')]

In [195]:
df_unpivot.count()

13950

**Check Duplicates**

In [196]:
print("Number of Duplicated Rows = " + str(df_unpivot.exceptAll(df_unpivot.dropDuplicates()).count()))

Number of Duplicated Rows = 0

**Identity Null Values**

In [197]:
df_unpivot.select(  *( sum( col(i).isNull().cast("integer") ).alias(i) for i in df_unpivot.columns ) ).show()

+--------+-------+----+----+----+-----------+
|ObjectId|Country|ISO2|ISO3|Year|Temperature|
+--------+-------+----+----+----+-----------+
|       0|      0|  62|   0|   0|       1490|
+--------+-------+----+----+----+-----------+

In [198]:
df_unpivot=df_unpivot.fillna({"ISO2":"Unknown"})

In [199]:
df_pivot.where(df_pivot.Temperature.isNull()).show()

+--------+-------------------+----+-----+-----------+
|ObjectId|            Country|ISO3| Year|Temperature|
+--------+-------------------+----+-----+-----------+
|       4|     American Samoa| ASM|F1997|       NULL|
|       4|     American Samoa| ASM|F1998|       NULL|
|       4|     American Samoa| ASM|F2009|       NULL|
|       8|Antigua and Barbuda| ATG|F2001|       NULL|
|      10|   Armenia, Rep. of| ARM|F1961|       NULL|
|      10|   Armenia, Rep. of| ARM|F1962|       NULL|
|      10|   Armenia, Rep. of| ARM|F1963|       NULL|
|      10|   Armenia, Rep. of| ARM|F1964|       NULL|
|      10|   Armenia, Rep. of| ARM|F1965|       NULL|
|      10|   Armenia, Rep. of| ARM|F1966|       NULL|
|      10|   Armenia, Rep. of| ARM|F1967|       NULL|
|      10|   Armenia, Rep. of| ARM|F1968|       NULL|
|      10|   Armenia, Rep. of| ARM|F1969|       NULL|
|      10|   Armenia, Rep. of| ARM|F1970|       NULL|
|      10|   Armenia, Rep. of| ARM|F1971|       NULL|
|      10|   Armenia, Rep. of| ARM|F1972|       NULL|
|      10|   Armenia, Rep. of| ARM|F1973|       NULL|
|      10|   Armenia, Rep. of| ARM|F1974|       NULL|
|      10|   Armenia, Rep. of| ARM|F1975|       NULL|
|      10|   Armenia, Rep. of| ARM|F1976|       NULL|
+--------+-------------------+----+-----+-----------+
only showing top 20 rows

In [200]:
df_unpivot=df_unpivot.dropna(subset=["Temperature"],how="any")

In [201]:
df_unpivot.select(  *( sum( col(i).isNull().cast("integer") ).alias(i) for i in df_unpivot.columns ) ).show()

+--------+-------+----+----+----+-----------+
|ObjectId|Country|ISO2|ISO3|Year|Temperature|
+--------+-------+----+----+----+-----------+
|       0|      0|   0|   0|   0|          0|
+--------+-------+----+----+----+-----------+

In [202]:
df_unpivot.select("Temperature").describe().show()

+-------+------------------+
|summary|       Temperature|
+-------+------------------+
|  count|             12460|
|   mean|0.5377713483146044|
| stddev|0.6553262417685121|
|    min|            -2.062|
|    max|             3.691|
+-------+------------------+

In [203]:
df_unpivot.sample(fraction=0.1,seed=1).show(truncate=False)

+--------+----------------------------+----+----+----+-----------+
|ObjectId|Country                     |ISO2|ISO3|Year|Temperature|
+--------+----------------------------+----+----+----+-----------+
|1       |Afghanistan, Islamic Rep. of|AF  |AFG |1964|-0.764     |
|1       |Afghanistan, Islamic Rep. of|AF  |AFG |1979|0.361      |
|1       |Afghanistan, Islamic Rep. of|AF  |AFG |1981|0.483      |
|1       |Afghanistan, Islamic Rep. of|AF  |AFG |1985|0.283      |
|1       |Afghanistan, Islamic Rep. of|AF  |AFG |2011|1.397      |
|1       |Afghanistan, Islamic Rep. of|AF  |AFG |2021|1.327      |
|2       |Albania                     |AL  |ALB |1986|0.569      |
|2       |Albania                     |AL  |ALB |1998|0.795      |
|2       |Albania                     |AL  |ALB |1999|0.67       |
|2       |Albania                     |AL  |ALB |2021|1.536      |
|3       |Algeria                     |DZ  |DZA |1974|-0.503     |
|3       |Algeria                     |DZ  |DZA |1982|0.399      |
|3       |Algeria                     |DZ  |DZA |1983|0.56       |
|3       |Algeria                     |DZ  |DZA |1993|0.552      |
|3       |Algeria                     |DZ  |DZA |1998|1.109      |
|3       |Algeria                     |DZ  |DZA |2006|1.395      |
|3       |Algeria                     |DZ  |DZA |2009|0.945      |
|3       |Algeria                     |DZ  |DZA |2015|1.121      |
|4       |American Samoa              |AS  |ASM |1961|0.079      |
|4       |American Samoa              |AS  |ASM |1965|-0.562     |
+--------+----------------------------+----+----+----+-----------+
only showing top 20 rows

In [204]:
df_unpivot.write.parquet("/content/TempData",mode="overwrite")